<html>
<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>Главное меню</title>
</head>
<body>
    <header class="header_div">
        <img src="{% static 'img/logo_bear.svg' %}" class="logo"><h1>Поиск полярных медведей на аэроснимках</h1>
    </header>
    <main class="menu">
        <form method="post" enctype="multipart/form-data" class="main_form">
        {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="download">Загрузить снимки</button>
        {% if image %}
        <img src="{{ image }}">
        {% endif %}
        </form>
    </main>
</body>
</html>
